.container {
    width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1, h2 {
    color: #333;
}

.form-container label {
    display: block;
    margin: 10px 0 5px;
}

.form-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.total, .relatorio {
    margin-top: 20px;
}

.relatorio {
    display: none;
    text-align: left;
}

ul {
    padding: 0;
    list-style: none;
}

ul li {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}