<div class="container">
    <h1>Cadastro de Produtos</h1>

    <!-- Formulário para cadastro -->
    <form (ngSubmit)="addProduct()" #productForm="ngForm">

        <div class="form-group">
            <label for="name">Nome do Produto:</label>
            <select id="name" class="form-control" [(ngModel)]="product.name" name="name" required>
              <option *ngFor="let item of inventoryItems" [value]="item.name">{{ item.name }}</option>
            </select>
        </div>

    <div class="form-group">
        <label for="price">Quantidade:</label>
        <input type="number" id="price" class="form-control" [(ngModel)]="product.qtd" name="qtd" required/>
    </div>

    <div class="form-group">
        <label for="date">Data:</label>
        <input type="date" id="date" class="form-control" [(ngModel)]="product.date" name="date" required/>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Adicionar Produto</button>

    </form>

    <hr />
    <!-- Lista de Produtos -->
    <h2>Lista de Produtos</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Data</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of products">
            <td>{{ item.name }}</td>
            <td>{{ item.price | currency: 'BRL' }}</td>
            <td>{{ item.date | date: 'dd/MM/yyyy' }}</td>
        </tr>
        </tbody>
    </table>
    <!-- Somatório de Preços -->
    <h3>Total: {{ totalPrice() | currency: 'BRL' }}</h3>
</div>